process {
    executor = 'awsbatch'
    cpus = 8 
    memory = '8 GB'
    time = '01:00:00' // Default time for processes
    withName: 'simpleJob' {
        queue = 'london-batch-ami-new-queue'
    }
    withName: 'simpleDragen' {
	queue = 'dragenQueue'}
    }
aws {
    region = 'eu-west-1' // Specify your AWS region
    // Remove accessKey and secretKey for security reasons; rely on IAM roles or environment variables
    cliPath = '/usr/local/bin/aws'
    batch {
        volumes = 's3://london-nextflowbucket/:/mnt/bucket/[rw]'
    }
    s3.bucket = 'london-nextflowbucket' // S3 bucket for results and intermediate files
    remote {
        workDir = 's3://london-nextflowbucket/nextflow/work' // Directory for work files
    }
}
workDir = 's3://london-nextflowbucket/nextflow/work' // Work directory for Nextflow
report {
    enabled = true
    file = 's3://london-nextflowbucket/nextflow/reports/report.html' // Report file location
    overwrite = true
}
timeline {
    enabled = true
    file = 's3://london-nextflowbucket/nextflow/reports/timeline.html' // Timeline file location
    overwrite = true
}
trace {
    enabled = true
    file = 's3://london-nextflowbucket/nextflow/reports/trace.txt' // Trace file location
    overwrite = true
}
